/*自媒体音乐*/
.g-selfmedia{
   
}
.f-pr{
    position: relative;
    zoom:1;
}
.g-selfmedia .bgwrap{
    top:75px;
    bottom:0;
    left:0;
    width:100%;
    min-height:1853px;
    z-index:-1;
}
.f-pa{
    position: absolute;
}
.g-selfmedia .bgwrap .bg1{
    height:980px;
    background:url(../img/selfmedia_top.jpg) no-repeat;
    background-position:50% 0;
}
.g-selfmedia .bgwrap .bg2{
    height:873px;
    background:url(../img/selfmedia_bottom.jpg);
    background-position:50% 0;
}
.g-selfmedia .bodybg{
    top:75px;
    height:970px;
    width:100%;
    background: url(../img/onedot.jpg) repeat-x;
    z-index: -2;
}
.m-selfmedia{
    min-height: 1853px;
    width:980px;
    margin:0 auto;
}
.m-selfmedia .header{
    padding-top:438px;
}
.f-tc{
    text-align: center;
}
.m-selfmedia .header .btn{
    padding:0px 81px;
    border-radius: 27px;
    height:55px;
    line-height:55px;
}
.m-selfmedia .header a{
    text-decoration: none;
}
.m-selfmedia .header a.btn:hover{
    background-color: #e30e56;
}
.s-bgnor{
    background-color:#ff0a5c;
}
.s-fc12{
    color:#fff;
}
.s-fc12,a.s-fc12:hover{
    color:#fff;
}
.f-fs4{
    font-size: 20px;
}
.m-selfmedia .header .word{
    margin:39px 0 13px;
    line-height:26px;
}
.s-fc15{
    color:#ff0a5c;
}
.f-fs2{
    font-size: 16px;
}
.m-selfmedia .n-section{
    padding-top:150px;
}
.m-selfmedia .n-section .title{
    margin-bottom:20px;
}
.f-fs24{
    font-size: 24px;
}
.m-selfmedia .n-section .linewrap{
    width:100%;
}
.m-selfmedia .n-section .line{
    width:100px;
    height:2px;
    margin:0 auto;
}
.s-bgnor{
    background-color:#ff0a5c;
}
.m-selfmedia .n-section ul{
    margin-top:60px;
}
.m-selfmedia .n-section.n-section-1 li{
    display: block;
    float: left;
    width:276px;
    height:366px;
    text-align: center;
    border:2px solid #33374b;
}
.m-selfmedia .n-section.n-section-1 li.mgct{
    margin:0 70px;
}
.m-selfmedia .n-section .pic1{
    width:276px;
    height:240px;
}
.m-selfmedia .n-section .pic.pic-1{
    background-position: -5px -305px;
}
.m-selfmedia .n-section .pic{
    background:url(../img/sprite.png) no-repeat;
}
.m-selfmedia .n-section .pic.pic-2{
    background-position: -5px -555px;
}
.m-selfmedia .n-section .pic.pic-3{
    background-position: -5px -805px;
}
.m-selfmedia .n-section .sectn{
    height:130px;
}
.m-selfmedia .n-section p.lstitle{
    padding-top:24px;
}
.m-selfmedia .n-section p.lsparam{
    padding-top:11px;
}
.m-selfmedia .n-section.n-section-2 ul{
    margin-top:98px;
}
.m-selfmedia .n-section.n-section-2 li{
    width:50%;
}
.f-fl{
    float: left;
}
.m-selfmedia .n-section.n-section-2 .pic2.pic-4{
    background-position: -5px -5px;
}
.m-selfmedia .n-section.n-section-2 .pic2.pic-5{
    background-position: -5px -155px;
}
.m-selfmedia .n-section.n-section-2 .pic2{
    width:140px;
    height:140px;
}
.m-selfmedia .n-section.n-section-2 li.unauth .ctnwrap{
    max-width:314px;
}
.m-selfmedia .n-section.n-section-2 li .ctnwrap{
    margin-left:26px;
}
.m-selfmedia .n-section.n-section-2 li.auth h3{
    margin-bottom:9px;
    margin-top:25px;
}
.m-selfmedia .n-section.n-section-2 li.auth p{
    line-height: 26px;
}
.f-fs22{
    font-size: 22px;
}
.f-fs1{
    font-size:14px;
}
.m-selfmedia .n-section.n-section-2 li.unauth h3{
    margin-bottom:10px;
    margin-top:16px;
}
.m-selfmedia .bottom{
    width:100%;
    bottom:20px;
}
.m-selfmedia .bottom p{
    line-height: 13px;
}
.s-fc4{
    color:#999;
}
.s-fs1{
    font-size:14px;
}
.s-fchref{
    color:#0c73c2;
}